.Home-page{
    display: flex;
    position: absolute;
    height:90vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    position: relative;
}
.next-btn > img{
    width: 40px;
}

.next-btn {
    position: absolute;
    right: 270px;
    border: none;
    background-color: transparent;
}

.container{
    padding: 0 200px 0 200px;
}

.Navbar{
    border: 1px solid black;
    text-align: end;
    padding-top: 10px;
    font-weight: bold;
}

.Navbar > ul > a{
    text-decoration: none;
    color: black;
    margin-left: 50px;
}

.Navbar > ul > a:hover{
    border-bottom: black 1px solid;
}

.my-profile{
    width: 260px;
    border: 1px solid grey;
}
.about{
    display: grid;
    padding-top: 100px;
    grid-template-columns: 30% 70%;
}


.left-grid{
    display: flex;
    justify-content: center;
}
.right-grid{
    padding: 0 60px 0 40px;
}

.skills--about{
    width: 500px;
    height: 40px;
    display: flex;
}

.logo-skills{
    width: 45px;
    margin-right: 5px;
}

.logo-img{

    width: 36px;
    margin-left: 2px;
}